/** Fonts **/
@font-face {
    font-family: "Raleway Regular";
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf");
}

body, select, input, ul, li {
    margin: 0;
    padding: 0;
    font-family: "Raleway Regular", serif;
    font-size: 14px;
    color: #272727;
}

.font_light {
    font-weight: 300;
}

.font_bold {
    font-weight: 700;
}

.font_extra_bold {
    font-family: "Raleway ExtraBold", serif;
}

.title_main {
    font-size: 40px;
}

.title_secondary {
    font-size: 32px;
}

.title_thirdary {
    font-size: 22px;
}

.text_uppercase {
    text-transform: uppercase;
}

.text_underline {
    text-decoration: underline;
}

.text_small {
    font-size: 12px;
}

/** Colors **/
.c_primary {
    color: #fa7a00;
}


.bg_primary {
    background: #fa7a00;
}

.c_secondary {
    color: #f4f4f4;
}

.c_secondary--dark {
    color: #7b7b7b;
}

.bg_secondary {
    background: #f4f4f4;
}

.bg_secondary--dark {
    background: #e7e7e7;
}

.c_black {
    color: #333333;
}

.c_white {
    color: white;
}

.c_grey {
    color: #919191;
}

a {
    color: #333333;
    text-decoration: unset;
}

/** General **/
.wrapper {
    max-width: 1250px;
    padding: 0 5%;
    margin: auto;
}

.d_flex {
    display: flex;
}

.f_column {
    flex-direction: column;
}

.f_wrap {
    flex-wrap: wrap;
}

.f_auto {
    flex: auto;
}

.j_between {
    justify-content: space-between;
}

.j_around {
    justify-content: space-around;
}

.j_center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

li {
    list-style: none;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.text_center {
    text-align: center;
}

input, select {
    font-weight: bold;
    color: #333333;
}

input::placeholder, select::placeholder {
    font-style: italic;
}

:placeholder-shown {
    text-overflow: ellipsis;
}


/** Pre Header **/
.pre_header .left img {
    margin-right: 10px;
}

#pre_header_argu ul {
    margin: 0;
}

.pre_header_argu--image {
    margin-right: 15px;
    vertical-align: middle;
}

.pre_header_argu--item {
    padding: 15px 0;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.pre_header_argu--item.langue {
    background: #dbdbdb;
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.pre_header_argu--item.langue li {
    padding: 10px;
}

.pre_header_argu--item.langue .hidden {
    position: absolute;
    top: 50px;
    background: white;
    display: none;
}

.pre_header_argu--item.langue:hover .hidden {
    display: block;
}

/** Header **/
.header {
    padding: 25px 0;
}

header {
    border-bottom: 2px solid #d2d0d0;
}

.recherche {
    flex: 8;
}

.recherche form {
    border: 3px solid #f4f4f4;
    margin: 0 20px;
}

.recherche .form_item {
    border: 2px solid #d2d0d0;
}

.recherche .form_item-loupe {
    padding: 15px;
}

.recherche .form_item.search {
    overflow: hidden;
}

.recherche .form_item.search input[name="mots_cles"] {
    min-width: calc(100% - 30px);
}

.recherche .form_item.search input[name="mots_cles"]:focus {
    outline: none;
}

.recherche input, .recherche select {
    padding: 15px;
    margin-right: 20px;
    border: none;
}

.burger_container {
    display: none;
}

.menu_utilisateur .arrow img {
    margin-left: 5px;
}

/** Menu **/
.main_menu {
    width: fit-content;
    margin: auto;
}

.main_menu__item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    height: 50px;
    max-width: 90px;
    text-align: center;
}

.main_menu__item:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    bottom: 12.5px;
    height: 25px;
    background: #d2d0d0;
}

.main_menu__item.highlighted a {
    color: #fa7a00;
    font-family: "Raleway ExtraBold", serif;
}

/** BreadCrumbs **/
.breadcrumb ul {
    margin-top: 0;
    padding-top: 16px;
}

.breadcrumb li {
    font-size: 12px;
    padding: 0 12px;
    text-decoration: underline;
    position: relative;
}

.breadcrumb li:not(:last-child):after {
    content: '';
    position: absolute;
    right: -6px;
    bottom: 0;
    width: 12px;
    height: 12px;
    background: url("../img/next.svg");
}

/** Main **/
.form_section {
    padding: 30px 0;
}

/** login Form **/
#login_form .form_item {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.form_left, .form_right {
    width: 30%;
}

.form_left {
    margin-right: 10%;
}

#login_form .form_item input {
    border: none;
    padding: 10px;
    flex: auto;
    margin-top: 10px;
}

#login_form .form_item select {
    border: none;
    padding: 10px;
    margin-left: 10px;
}

#login_form .form_item.row {
    flex-direction: row;
}

#login_form .submit_form {
    margin-top: auto;
}

.depot_favori {
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.depot_favori:after {
    content: "";
    position: absolute;
    bottom: 24px;
    right: 12px;
    width: 13px;
    height: 40px;
    background: no-repeat url("../img/arrows.jpg");
}

.depot_favori a {
    margin-top: 10px;
    text-align: right;
    width: 100%;
}


/** Devenir Client **/
.devenir_client {
    padding: 1px 20px 40px;
    margin-bottom: 40px;
}

.demande_carte {
    padding: 0 40px;
}

/** Buttons **/
.button {
    text-align: center;
    padding: 10px 40px;
    margin-left: 20px;
}

.submit_form_button {
    font-style: unset;
    max-width: 180px;
    margin-left: auto;
}

.button_outline--black {
    border: 2px solid black;
    border-radius: 2px;
}

/** Header Mobile **/

@media only screen and (max-width: 992px) {
    .pre_header {
        flex-direction: column;
    }

    .recherche {
        margin: 25px 15px;
    }

    .main_menu {
        position: fixed;
        padding: 20px;
        height: 100vh;
        top: 0%;
        left: -100%;
        background: white;
        transition: 1s;
        z-index: 2;
    }

    .main_menu__item {
        max-width: 25%;
        width: 25%;
        text-align: left;
    }

    .main_menu__item:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1px;
        bottom: 12.5px;
        height: 25px;
        background: #d2d0d0;
    }

    .burger_container {
        padding-right: 20px;
        display: block;
        cursor: pointer;
        justify-self: flex-start;
    }

    .burger_container, .logo {
        margin-right: auto;
        text-align: right;
    }

    .burger_input:checked ~ .main_menu {
        left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .pre_header .left img {
        margin: 10px;
    }

    .pre_header_argu--item {
        margin: 0;
    }

    .text_center_mb {
        text-align: center;
    }

    .f_column_mb {
        flex-direction: column;
    }

    .form_left, .form_right {
        width: 100%;
    }

    .recherche form {
        margin: 0;
        flex-wrap: wrap;
    }

    .recherche form .select_container, .recherche form select {
        width: 100%;
    }

    .recherche form input {
        margin-right: 0;
    }

    .demande_carte {
        text-align: center;
        margin: 20px 0;
    }

    .devenir_client .button {
        margin-left: 0;
    }
}
